############# Docker Compose para desplegar una aplicación de librería con métricas y monitoreo #############
# Para correr en segundo plano:
#     docker compose up -d

# Acceder a Grafana: http://localhost:3000
# Acceder a Prometheus: http://localhost:9090
# Acceder al dashboard de Traefik: http://localhost:8888
# Acceder a Consul: http://localhost:8500
# Acceder a la aplicación de autores: http://localhost:8080/mi-app-autores/autores
# Acceder a la aplicación de libros: http://localhost:8080/mi-app-libros/libros

# Dentro de la red de Docker, el nombre de un servicio es el que se usa para acceder a él mediante la URL.
# Por ejemplo, en el servicio autores, se usa la URL http://autores:8080/mi-app-autores/autores.
# En el servicio libros, se usa la URL http://libros:8080/mi-app-libros/libros. 
# Por esa razón, en la configuración de fuentes de Grafana, para prometheus, la URL es: http://prometheus_metricas:9090

services:
  base_de_datos:
    image: postgres:17.5-alpine3.22
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: labcom,2015
      POSTGRES_DB: db_libreria
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - "C:/db-libreria:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432" # TODO: cambiar de "54321:5432".
    expose:
      - 5432
    # expose en docker-compose.yml hace que el puerto sea accesible para otros servicios del mismo Compose, pero no para
    # el host (mi pc en local).

  metricas_base_datos:
    image: prometheuscommunity/postgres-exporter
    environment:
      #DATA_SOURCE_NAME: "base_de_datos:5432/db_libreria?sslmode=disable"
      #DATA_SOURCE_USER: "postgres"
      #DATA_SOURCE_PASSWORD: "labcom,2015"
      DATA_SOURCE_NAME: "postgresql://postgres:labcom%2C2015@base_de_datos:5432/db_libreria?sslmode=disable"
    expose:
      - 9187

  consul:
    image: consul:1.15.4
    command:
      agent -dev
      -ui
      -bind 0.0.0.0
      -client 0.0.0.0
    ports:
      - "8500:8500"
    expose:
      - 8500

  traefik_proxy:
    image: traefik:3.4.1
    command: |
      --api.insecure=true
      --api.dashboard=true
      --providers.consulCatalog.exposedByDefault=false
      --providers.consulCatalog.refreshInterval=5s
      --providers.consulCatalog.endpoint.address=consul:8500
      --entrypoints.http.address=:"80"
      --entrypoints.metrics.address=:"8082"
      --metrics.prometheus=true
      --metrics.prometheus.entryPoint=metrics
    ports:
      # "host:contenedor"
      - "8888:8080" # Traefik dashboard
      - "8080:80"   # HTTP
      - "8082:8082" # Metrics
    expose:
      - 80
    depends_on:
      - consul

  autores:
    image: jcestrella/app-autores:v1.2.1
    environment:
      QUARKUS_DATASOURCE_USERNAME: postgres
      QUARKUS_DATASOURCE_PASSWORD: labcom,2015
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://base_de_datos:5432/db_libreria
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_HTTP_HOST: 0.0.0.0
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
    expose:
      - 8080
    deploy:
      replicas: 5
    depends_on:
      base_de_datos:
        condition: service_healthy
      consul:
        condition: service_started


  libros:
    image: jcestrella/app-libros:v1.2.1
    environment:
      QUARKUS_DATASOURCE_USERNAME: postgres
      QUARKUS_DATASOURCE_PASSWORD: labcom,2015
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://base_de_datos:5432/db_libreria
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_HTTP_HOST: 0.0.0.0
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
    expose:
      - 8080
    deploy:
      replicas: 13
    depends_on:
      base_de_datos:
        condition: service_healthy
      consul:
        condition: service_started


  prometheus_metricas:
    image: prom/prometheus:latest
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    expose:
      - 9090
    depends_on:
      - metricas_base_datos
      - consul
      - traefik_proxy
      - autores
      - libros

  grafana_dashboard:
    image: grafana/grafana-oss:latest
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "3000:3000"
    expose:
      - 3000
    #depends_on:
    #  - prometheus_metricas