#  URLs para acceder a los servicios dentro de minikube
#  Abrir el tunel para el servicio mapeando los puertos:
#    En la terminal colocar: 
#
#    Sintaxis: PUERTO_TU_PC : PUERTO_TRAEFIK
#    minikube kubectl -- port-forward service/<nombre_del_servicio> <puerto_mi_pc>:<puerto_traefik>
#
#    Ejemplos: 
#    - minikube kubectl -- port-forward service/traefik-proxy 8080:8080 9000:8888 
#      En este caso mapeo el trafico HTTP y el dashboard de Traefik.
#      Acceder al dashboard de Traefik: http://localhost:9000/dashboard/
#      Acceder a la aplicación de autores desde Traefik: http://localhost:8080/mi-app-autores/autores
#      Acceder a la aplicación de libros desde Traefik: http://localhost:8080/mi-app-libros/libros

#    - minikube kubectl -- port-forward service/autores 8081:8080
#      En este caso mapeo el trafico HTTP de la aplicación de autores.
#    Acceder a la aplicación de autores directamente sin Traefik: http://localhost:8081/autores

#    - minikube kubectl -- port-forward service/libros 8082:8080
#      En este caso mapeo el trafico HTTP de la aplicación de libros.
#      Acceder a la aplicación de libros directamente sin Traefik: http://localhost:8082/libros

#    - minikube kubectl -- port-forward service/consul 8500:8500
#      En este caso mapeo el trafico UI de Consul.
#      Acceder a la interfaz de Consul: http://localhost:8500/ui

#    - minikube kubectl -- port-forward service/prometheus-metricas 9090:9090
#      En este caso mapeo el trafico de Prometheus.
#      Acceder a Prometheus: http://localhost:9090

#    - minikube kubectl -- port-forward service/grafana-dashboard 3000:3000
#      En este caso mapeo el trafico de Grafana.
#      Acceder a Grafana: http://localhost:3000

#
# Para abrir túneles simultaneos, debo de usar puerto de mi pc no utilizados, para que no haya colisiones.    
#


apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik-proxy
  labels:
    app: traefik-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik-proxy
  template:
    metadata:
      labels:
        app: traefik-proxy
    spec:
      containers:
        - name: traefik-proxy
          image: traefik:3.4.1
          args:
            - "--api.insecure=true"
            - "--api.dashboard=true"
            - "--providers.consulCatalog.exposedByDefault=false"
            - "--providers.consulCatalog.refreshInterval=5s"
            - "--providers.consulCatalog.endpoint.address=consul:8500"
            - "--entrypoints.http.address=:80"
            - "--entrypoints.metrics.address=:8082"
            - "--metrics.prometheus=true"
            - "--metrics.prometheus.entryPoint=metrics"
          ports:
            - containerPort: 8080 # Dashboard (insecure)
            - containerPort: 80   # HTTP
            - containerPort: 8082 # Metrics
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-proxy
spec:
  type: NodePort
  selector:
    app: traefik-proxy
  ports:
    - name: dashboard
      protocol: TCP
      port: 8888
      targetPort: 8080
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 80
    - name: metrics
      protocol: TCP
      port: 8082
      targetPort: 8082
