apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik-proxy
  labels:
    app: traefik-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik-proxy
  template:
    metadata:
      labels:
        app: traefik-proxy
    spec:
      containers:
        - name: traefik-proxy
          image: traefik:3.4.1
          args:
            - "--api.insecure=true"
            - "--api.dashboard=true"
            - "--providers.consulCatalog.exposedByDefault=false"
            - "--providers.consulCatalog.refreshInterval=5s"
            - "--providers.consulCatalog.endpoint.address=consul:8500"
            - "--entrypoints.http.address=:80"
            - "--entrypoints.metrics.address=:8082"
            - "--metrics.prometheus=true"
            - "--metrics.prometheus.entryPoint=metrics"
          ports:
            - containerPort: 8080 # Dashboard (insecure)
            - containerPort: 80   # HTTP
            - containerPort: 8082 # Metrics
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-proxy
spec:
  type: NodePort
  selector:
    app: traefik-proxy
  ports:
    - name: dashboard
      protocol: TCP
      port: 8888
      targetPort: 8080
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 80
    - name: metrics
      protocol: TCP
      port: 8082
      targetPort: 8082
